.jumbotron {
  background-color: #6DCF87 !important;
  color: white;
  margin:0 !important;
}

.jumbotron h1 {
  color: white;
  font-family: 'Lobster' , cursive;
}

.jumbotron a:link{
  color: #3297a8 !important;
}

.jumbotron a:hover {
  color: white !important;
  text-decoration: none;
}

footer {
  background-color: #E0DEDE
}

.navbar-light {
  background-color: #d7d7d9;
}

footer ul{
  list-style-type: none;
}

footer ul li {
  display: inline-block;
  border-right: 2px solid #C4C4C4;
  padding-right: 20px;
  padding-left: 20px;
}

footer ul li:last-child{
  border-right:0;
}

.text-link{
  text-decoration: none !important; 
}