.jumbotron {
  background-color: #6DCF87 !important;
  color: white;
  margin:0 !important;
}

.jumbotron h1 {
  color: white;
  font-family: 'Lobster' , cursive;
}

.jumbotron a:link{
  color: #3297a8 !important;
}

h2, h3, h4, h5, h6{
  font-family: 'Lobster' , cursive;
}

.jumbotron a:hover {
  color: white !important;
  text-decoration: none;
}

footer {
  background-color: #E0DEDE
}

.navbar-light {
  background-color: #d7d7d9;
}

footer ul{
  list-style-type: none;
  padding-top:10px;
}

footer ul li {
  display: inline-block;
  border-right: 2px solid #C4C4C4;
  padding-right: 20px;
  padding-left: 20px;
}

footer ul li:last-child{
  border-right:0;
}

.text-link{
  text-decoration: none !important; 
}

#members{
  list-style-type: none;
}

.member {
  display: inline-block;
  border-right: 2px solid #C4C4C4;
  padding-left: 10px;
  padding-right: 10px;
}

.member:last-child {
  border-right: none;
}

.uploadPrescription {
  background-color: rgba(109, 207, 135, 0.5);
}

.modal-header {
  background-color: #6DCF87
}

.productBtn {
  border-radius: 40px !important;
}

.productCard {
  border-radius: 10px;
}

.productCard:hover {
  transform: scale(1.1);
  transition: transform .3s ease-in-out;
  border-style: 'solid'
}

